{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>Season</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>


    <h3><a href="{{ path('episode_show_by_season', {'number': season.number, 'program' : program.slug}) }}">Show Episodes</a></h3>

    <a href="{{ path('season_index', {'program' : program.slug}) }}">back to list</a>

    <a href="{{ path('season_edit', {'number': season.number,'program' : program.slug}) }}">edit</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
