{% extends 'base.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
    <h1>Add Category</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    {% for category in categories %}
        {{ category.name }}
    {% endfor %}
{% endblock %}